@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <h1>Kwasant Admin Console</h1>

    @Html.ActionLink("Show Booking Requests", "Index", "Email", null, new { @class = "btn-link" }) <p></p>

    <a href="/Website/index.aspx">Go to kwasant.com</a>.
</body>      
</html>
