@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<body>
    <h1>Shnexy</h1>

   
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Scripts/bootstrap.min.js"></script>

    @Html.ActionLink("Send Test Message", "Index", "User", null, new { @class = "btn-link" }) <p></p>
    @Html.ActionLink("Show Users", "Index", "User", null, new { @class = "btn-link" }) <p></p>
 

    
</body>
</html>
