@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<body>
    <h1>Shnexy Admin Console</h1>

   
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Scripts/bootstrap.min.js"></script>


    @Html.ActionLink("Show Booking Requests", "Index", "Email", null, new { @class = "btn-link" }) <p></p>

    <a  href="/Content/Website/index.html">Go to kwasant.com</a>.
      
</html>
