@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <h1>Kwasant Admin Console</h1>

    @Html.ActionLink("Show Booking Requests", "Index", "BookingRequest", null, new { @class = "btn-link" })
    <p></p>

    @Html.ActionLink("Show Incident Report", "Index", "Report", new { type = "incident" }, new { @class = "btn-link" })
    <p></p>

    @Html.ActionLink("Show Usage Report", "Index", "Report", new { type = "usage" }, new { @class = "btn-link" })
    <p></p>

    @Html.ActionLink("View History ", "History", "Report", new{area=""}, new { @class = "btn-link" })
    <p></p>

    <a href="/Website/index.aspx">Go to kwasant.com</a>.
</body>
</html>
