@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@Html.ActionLink("Show Users", "Index", "User", null, new { @class = "btn-link" }) <p></p>
@Html.ActionLink("Show Topics", "Index", "Topic", null, new { @class = "btn-link" }) <p></p>
@Html.ActionLink("Show Queues", "Index", "Queue", null, new { @class = "btn-link" })