<h2>Find Booking Request</h2>
<div style="padding-right: 40px;">
    <form>
        <table style="width: 100%">
            <tr>
                <td style="vertical-align:top;width:60%">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Booking Request ID
                            </td>
                            <td>
                                <input id="txtBrId" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>Time Span :
                            </td>
                            <td>
                                <ul id="ulQueryPeriod" style="list-style-type: none; padding: 0; margin: 0;">
                                    <li>
                                        <input type="radio" id="last5minutes" name="timespan" />Last 5 minutes</li>
                                    <li>
                                        <input type="radio" id="lasthour" name="timespan" />Last Hour</li>
                                    <li>
                                        <input type="radio" id="lastday" name="timespan" />Last Day</li>
                                    <li>
                                        <input type="radio" id="lastweek" name="timespan" />Last Week</li>
                                    <li>
                                        <input type="radio" id="all" name="timespan" checked="checked" />All</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Include Invalid Booking Requests
                            </td>
                            <td>
                                <input type="checkbox" id="chkIncludeInvalid" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="button" id="btnFind" value="Find" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="divResultViewer">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="vertical-align:top;width: 40%">
                    <div id="divEmailViewer">
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>


<script type="text/javascript">
    var table;
    $(document).ready(function () {
        //$("#tblbookingrequest").hide();
        //Binding click event on "Find" button
        $("#btnFind").click(function () {
            $("#tblbookingrequest").show();
            var queryPeriod;
            var includeInvalid = $("#chkIncludeInvalid").prop("checked");
            var id = $("#txtBrId").val() == "" ? 0 : $("#txtBrId").val();
            $("#ulQueryPeriod input").each(function () {
                if ($(this).prop("checked")) {
                    queryPeriod = this.id;
                }
            });
            //Ajax call to get filtered booking request from server.
            $("#divResultViewer").load('@Url.Action("Search", "BookingRequest")?queryPeriod=' + queryPeriod + '&includeInvalid=false' + '&id=0');
        });


    });
</script>
