@model KwasantWeb.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "Reset password confirmation";
}

<h2>Reset password confirmation</h2>
<div>Your password has been reset. Please @Html.ActionLink("click here to log in", "Index")</div>
