.label_vertical_alignment {
    position: relative;
    top: 10px;
}

.container_box {
    border: 2px solid gray;
    padding-left: 20px;
    min-height: 600px; 
    font-size:0.85em;    
}

.mid_container_text
{
    font-size:0.85em
}

.divider_height {
    height: 20px;
}


.bookingAgentFormControlBorder {
    border: 2px solid gray;
    text-align: left;
    padding-left: 2px;
    color: #000000;
    font-size: 0.85em;
    font-weight: normal;
    min-height: 50px;
    overflow-x: auto;
}

#toolbar {
    margin: 10px 0px 20px 0px;
    width: 174px;
    border: none;
    background: none;
    position: relative;
}

    #toolbar a {
        display: inline-block;
        height: 35px;
        text-decoration: none;
        padding: 5px;
        color: #666;
        border: 1px solid #aaa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e2e2e2));
        background: -webkit-linear-gradient(top, #fafafa 0%, #e2e2e2);
        background: -moz-linear-gradient(top, #fafafa 0%, #e2e2e2);
        background: -ms-linear-gradient(top, #fafafa 0%, #e2e2e2);
        background: -o-linear-gradient(top, #fafafa 0%, #e2e2e2);
        background: linear-gradient(top, #fafafa 0%, #e2e2e2);
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#fafafa", endColorStr="#e2e2e2");
    }
