@*@model KwasantWeb.ViewModels.UserAdministerVM*@
<div>
    User :
    <input id="txtemailid" type="text" value="" />
    <input id="btnChange" type="button" value="Change" />
    <br />
    <br />
    Show Calendars :
    <br />
    <div id="divCalendarChooser">
    </div>
</div>
<script>
    //Binding click on change user button to display popup containing all users to choose.
    $("#btnChange").click(function () {
        Kwasant.IFrame.Display('/User/ShowUsers',
            {
                horizontalAlign: 'left'
            });
    });

    //Function to refresh calendars
    function refreshCalendar() {
        var linkedCalendarIDs;
        var calendarids = [];
        //getting all linked calendarids to update calendar
        $("#divCalendarChooser").find("input[type='checkbox']").each(function () {
            if (this.checked) {
                calendarids.push($(this).val());
            }
        });

        //checking if none of the calendar is selected
        if (calendarids.length == 0) {
            var activeCalendarBox = $("#divCalendarChooser").find("input[type='checkbox']")[0];
            activeCalendarBox.checked = 'checked';
            calendarids.push($(activeCalendarBox).val());
            alert("Atleast one calendar should be selected!");
        }
        linkedCalendarIDs = calendarids.join(",");

        //Updating the backend urls of calendars
        calendar.updateBackendURLs("@Url.Content("~/Calendar/Day?calendarIDs=")" + linkedCalendarIDs, "@Url.Content("~/Calendar/Month?calendarIDs=")" + linkedCalendarIDs, "@Url.Content("~/Calendar/Navigator?calendarIDs=")" + linkedCalendarIDs);
        calendar.refreshCalendars();
    }
</script>
