@model KwasantWeb.ViewModels.ManageUserVM

@{
    ViewBag.Title = "My Account";
}

<h2>@ViewBag.Title</h2>

<div id="permission-status" class="text-success"></div>
<div class="row">
    <div class="col-md-12">
        @foreach (var remoteCalendar in Model.RemoteCalendars)
        {
            if (!remoteCalendar.AccessGranted)
            {
                @Html.ActionLink(
                    string.Format("Grant Access to {0} Calendar", remoteCalendar.Provider), 
                    "GrantRemoteCalendarAccess", 
                    new { providerName = remoteCalendar.Provider },
					new { @class = "custom-btn glyphicon glyphicon-user" })
            }
            else
            {
                @Html.ActionLink(
                    string.Format("Revoke Access to {0} Calendar", remoteCalendar.Provider),
                    "RevokeRemoteCalendarAccess",
                    new {providerName = remoteCalendar.Provider},
					new { @class = "custom-btn glyphicon glyphicon-user" })
            }
            <br/>
        }
    </div>
</div>
<br/>
@if (Model.RemoteCalendars.Any(c => c.AccessGranted))
{
<div class="row">
    <div class="col-md-12">
        <a href="#" class="btn btn-default" id="syncNowBtn">Synchronize Now!</a>
        <div id="success" style="display: none" class="text-success">Calendars synchronized successfully.</div>
        <div id="sendError" style="display: none" class="text-error"></div>
    </div>
</div>
}

@section scripts
{
    @if (Model.RemoteCalendars.Any(c => c.AccessGranted))
    {
        //@Scripts.Render("~/bundles/js/common")

        <script type="text/javascript">
            $(document).ready(function () {
                var syncing = false;
                var syncNow = function() {
                    if (syncing)
                        return false;
                    syncing = true;
                    $('#syncNowBtn').addClass('disabled');
                    $.post('@Url.Action("SyncCalendarsNow", "User")',
                        function(result) {
                            if (result.success) {
                                $('#sendError').text('').hide();
                                $('#success').show();
                            } else {
                                $('#sendError').text(result.error).show();
                            }
                            syncing = false;
                            $('#syncNowBtn').removeClass('disabled');
                        },
                        'json');
                    return false;
                };

                $('#syncNowBtn').click(syncNow);

                var provider = getURLParameter("remoteCalendarAccessGranted");
                if (provider)
                {
                    $('#permission-status').text(provider + ' Calendar hooked up successfully.');
                    syncNow();
                } else {
                    provider = getURLParameter("remoteCalendarAccessForbidden");
                    if (provider) {
                        $('#permission-status').text(provider + ' Calendar access revoked.');
                    }
                }
            });
        </script>
    }
}
