@{
    Layout = null;
    string answerID = Model.ToString();
 }

@using (Html.BeginForm())
{
   <div id="answerContainer" data-type="timeSlot" data-answerid="@answerID" data-answertbleId="0">
       <table>
           <tr>
               <td>
                   <img src="~/Content/img/minus.png" />
               </td>
               <td>
                   <label id="answerlbl">A-@answerID :</label>
               </td>
               <td>
                   <input type="hidden" id="answerText" value="Fri, 1/7/14" />
                   <label>Fri, 1/7/14</label>
               <td>
                   <img src="~/Content/img/Cross.png" onclick="removetable(this)" />
               </td>
           </tr>
           <tr>
               <td>&nbsp;
               </td>
               <td>Status:  
               </td>
               <td>
                   <select id="answerStatus">
                       <option value="1">Unstarted</option>
                       <option value="2">Proposed</option>
                       <option value="3">Selected</option>
                   </select>
               </td>
               <td>&nbsp;
               </td>
           </tr>
       </table>
   </div>
}
