@model Shnexy.ViewModels.ShowQueuesVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var queue in Model.Queues) {
    <tr>
        <td>
            @queue.Topic.Name
        </td>
        <td>
            @{
                var participants = "";
                foreach (var user in queue.Producers)
                {
                    participants = participants + user.Name + "(" + user.Id + ")";
                    
                
                }
            }
            @participants;
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id = @queue.Id }) 
        </td>
    </tr>
}

</table>
