<h2>History Report</h2>
<script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />
<style>
    .filters_btn input {
        padding: 10px;
        background: #D85E17;
        border: 1px solid #3E3E3E !important;
        width: 100px;
        border-radius: 4px;
        border: none;
        color: #fff;
        font-size: inherit;
        margin-bottom: 10px;
    }
</style>
<table class="filters_btn">
    <tr>
        <td>
            <input type="button" value="Last 5 minutes" id="last5minutes" /></td>
        <td>
            <input type="button" value="Last Hour" id="lasthour" /></td>
        <td>
            <input type="button" value="Last Day" id="lastday" /></td>
        <td>
            <input type="button" value="Last Week" id="lastweek" /></td>
        <td>
            <input type="button" value="All" id="all" /></td>
    </tr>
</table>

<div>
    <table>
        <tr>
            <td>
               Object Type:
            </td>
            <td>

                <select id="ddlPrimaryCategory" style="width: 200px;">
                    <option value="BookingRequest">BookingRequest</option>
                    <option value="Event">Event</option>
                    <option value="Email">Email</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
               Object Id:
            </td>
            <td>
                <input type="text" id="txtBookingRequestId" name="txtBookingRequestId" style="width: 200px;" />
            </td>
        </tr>
        <tr>
           <td></td>
            <td>
                <input type="button" value="Update" id="bntUpdate" name="bntUpdate" />
            </td>
        </tr>
    </table>



</div>

<table id="tblHistoryReport" class="table">
    <thead>
        <tr>
            <th style="width: 15%">Date</th>
            <th style="width: 15%">Primary Category</th>
            <th style="width: 15%">Secondary Category</th>
            <th style="width: 15%">Activity</th>
            <th style="width: 10%">Status</th>
            <th style="width: 45%">Data</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">

    var queryPeriod = "all";
    $('#tblHistoryReport').hide();
    $("#ddlPrimaryCategory").change(function () {
        queryPeriod = "all";
    });

    $('#bntUpdate').click(function () {
        showHistoryReport();
    });
    function showHistoryReport() {
        $.getJSON("/Report/ShowHistoryReport", { primaryCategory: $('#ddlPrimaryCategory').val(), bookingRequestId: $('#txtBookingRequestId').val(), queryPeriod: queryPeriod }, showHistoryReport);
        function showHistoryReport(response) {
            $('#tblHistoryReport').show();
            $("#tblHistoryReport DataTable").html("");
            table = $('#tblHistoryReport').DataTable({
                destroy: true,
                data: JSON.parse(response),
                columns: [
                    { data: 'create_date' },
                    { data: 'primary_category' },
                    { data: 'secondary_category' },
                    { data: 'activity' },
                    { data: 'status' },
                    { data: 'data' }
                ],
            });

        }
    }

    $('.filters_btn input').click(function () {
        queryPeriod = $(this).attr("id");
        queryPeriod = queryPeriod;
        showHistoryReport();
    });
</script>
