@using KwasantWeb.Modules
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>@Html.Raw(string.Format("{0}={1}", Request.Url.Query, QueryStringModule.Encrypt(Request.Url.Query)))</p>
