<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Twilio (These are test account values. They will work with Twilio, but not make any charges or send any smses! Actual SID and Auth should be applied after deploy. 
    RC, Staging, and Production are configured to override these values with corresponding App Settings. See http://blogs.msdn.com/b/windowsazure/archive/2013/07/17/windows-azure-web-sites-how-application-strings-and-connection-strings-work.aspx)
    
    Twilio (These are test account values. They will work with Twilio, but not make any charges or send any smses! Actual SID and Auth should be applied after deploy.)
    -->
    <add key="TWILIO_SID" value="AC15c999e32b51f1c8f1bb3e575b318e1e" />
    <add key="TWILIO_TOKEN" value="88fce8738d74695717bb0a5ea58fa8d0" />
    <add key="TwilioFromNumber" value="+15005550006" />
    <!--DO NOT change this. it is the only number that will make Twilio work. -->
    <add key="TwilioToNumber" value="+14158067915" />

    <!--Inbound email settings-->
    <add key="InboundEmailHost" value="imap.gmail.com" />
    <add key="InboundEmailPort" value="993" />
    <add key="INBOUND_EMAIL_USERNAME" value="intakeclone@kwasant.net" />
    <add key="INBOUND_EMAIL_PASSWORD" value="thorium65" />
    <add key="InboundEmailUseSSL" value="true" />

    <!--Outbound email settings-->
    <add key="fromEmail" value="scheduling@kwasant.com" />
    <add key="fromName" value="Kwasant Scheduling Services" />
    <add key="ArchiveOutboundEmail" value="true" />
    <add key="ArchiveEmailAddress" value="outboundemailarchive@kwasant.com" />
	<add key="ArchivePollEmailAddress" value="kwasantoutbound@gmail.com"/>
	<add key="ArchivePollEmailPassword" value="thales11"/>
    <add key="emailSubject" value="Invitation from: {0}- {1} - {2}" />
    <add key="compressEmail" value="false" />
    <add key="emailBasicText" value="This is a Kwasant Event Request. Click here for more information." />

    <!--Outbound Email-->
    <add key="OutboundEmailHost" value="smtp.sendgrid.net" />
    <add key="OutboundEmailPort" value="587" />
    <add key="OutboundUserName" value="alexed" />
    <add key="OutboundUserPassword" value="thorium65" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Threading.Tasks.Extensions.Desktop" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.168.0" newVersion="1.0.168.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>