<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkId=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="daemonSettings" type="Configuration.DaemonSettings, Configuration" />
    <section type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" name="log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <log4net>
    <appender type="UtilitiesLib.Logging.TableStorageAppender, UtilitiesLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="TableStorageAppender">
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="TableStorageAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="KwasantDB" connectionString="Data Source=.;Initial Catalog=KwasantDB;Integrated Security=SSPI;Transaction Binding=Explicit Unbind;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>

  <daemonSettings enabled="true" daemonAssemblyName="Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <daemons>
      <add enabled="true" initClass="Daemons.InboundEmail, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="InboundEmail" />
      <add enabled="true" initClass="Daemons.OutboundEmail, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="OutboundEmail" />
      <add enabled="true" initClass="Daemons.OperationsMonitor, Daemons, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="OperationsMonitor" />
    </daemons>
  </daemonSettings>

  <appSettings>
    <add key="LocalFileStorageDirectory" value="." />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Twilio (These are test account values. They will work with Twilio, but not make any charges or send any smses! Actual SID and Auth should be applied after deploy.)-->
    <add key="TwilioAccountSID" value="AC15c999e32b51f1c8f1bb3e575b318e1e" />
    <add key="TwilioAuthToken" value="88fce8738d74695717bb0a5ea58fa8d0" />
    <add key="TwilioFromNumber" value="+61434382256" />

    <!--Inbound email settings-->
    <add key="InboundEmailHost" value="imap.gmail.com" />
    <add key="InboundEmailPort" value="993" />
    <add key="InboundEmailUserName" value="kwasantintake" />
    <add key="InboundEmailPassword" value="lucrereggio23" />
    <add key="InboundEmailUseSSL" value="true" />
    
    
    <!--Logging-->
    <add key="LoggingConnectionString" value="DefaultEndpointsProtocol=https;AccountName=kwasantlog;AccountKey=Y8piJJwYPVUYXx7vwhs6F4TSMvVZyZqiVWEOPD1Pl1OYFpkJWZqi4HjI9DdKZmbb2VE/NGKQ2ZghqAht4voeuA==" />
    <add key="LoggingTableName" value="LogEntities" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <contexts>
      <context type="Data.Infrastructure.ShnexyDbContext, Data, Version=1.0.0.0, Culture=neutral" />
    </contexts>

    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>